<section id="prevailing-challenges" class="science-challenge">
    <div class="science-challenge__title">
        <h2>{{ title }}</h2>
    </div>
    <div class="science-challenge__row-wrapper science-challenge__row-wrapper-1">
        <div class="science-challenge__mobile-img-1">
            <svg width="375" height="226" viewBox="0 0 375 226" fill="none"><path d="M112.578 225.006C112.578 204.301 95.7752 187.498 75.0699 187.498V149.99H112.578C112.578 170.695 129.38 187.498 150.086 187.498V225.006H112.578Z" fill="#99E3E2"/><path d="M225.101 187.498C204.396 187.498 187.594 204.301 187.594 225.006H150.086V187.498C170.791 187.498 187.594 170.695 187.594 149.99H225.101V187.498Z" fill="#99E3E2"/><path d="M337.411 112.076C337.411 91.3707 354.213 74.568 374.919 74.568V37.0602H337.411C337.411 57.7654 320.608 74.568 299.903 74.568V112.076H337.411Z" fill="#99E3E2"/><path d="M300.009 112.428C279.304 112.428 262.501 129.231 262.501 149.936H224.993V112.428C245.698 112.428 262.501 95.6253 262.501 74.92H300.009V112.428Z" fill="#99E3E2"/><path d="M0 149.719V112.428C20.7052 112.428 37.5079 129.231 37.5079 149.936H0V149.719Z" fill="#99E3E2"/><path d="M299.846 37.6163V74.9074C320.551 74.9074 337.354 58.1047 337.354 37.3995H299.846V37.6163Z" fill="#E6DDBF"/><path d="M0.216808 149.611H37.5079C37.5079 170.316 20.7052 187.118 0 187.118V149.611H0.216808Z" fill="#99E3E2"/><path d="M74.7993 149.99H37.5082C37.5082 129.284 54.3109 112.482 75.0161 112.482V149.99H74.7993Z" fill="#5DD597"/><path d="M225.101 149.719V112.428C245.806 112.428 262.609 129.231 262.609 149.936H225.101V149.719Z" fill="#5DD597"/><path d="M225.318 149.448H262.609C262.609 170.153 245.806 186.956 225.101 186.956V149.448H225.318Z" fill="#5DD597"/><path d="M225.101 150.207V187.498C204.396 187.498 187.593 170.695 187.593 149.99H225.101V150.207Z" fill="#5DD597"/><path d="M224.884 149.992H187.593C187.593 129.287 204.396 112.484 225.101 112.484V149.992H224.884Z" fill="#5DD597"/><path d="M375 37.2911L375 7.62939e-05C354.295 7.81041e-05 337.492 16.8027 337.492 37.5079L375 37.5079L375 37.2911Z" fill="#99E3E2"/></svg>
        </div>
        <div class="science-challenge__row">
            <div class="science-challenge__content-col science-challenge__content-col-1">
                <h3><span>1.</span>{{ title_1 }}</h3>
                <p>{{ info_1 }}</p>
            </div>
        </div>
        <div class="science-challenge__shape-1">
            <svg width="650" height="390" viewBox="0 0 650 390" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M130.091 325.002C165.971 325.002 195.089 354.119 195.089 390H260.087H325.085C325.085 354.119 354.203 325.002 390.084 325.002V260.003H325.085C325.085 295.884 295.968 325.002 260.087 325.002C224.207 325.002 195.089 295.884 195.089 260.003H130.091V325.002Z" fill="#99E3E2"/><path d="M520 65.3757V129.998C555.881 129.998 584.998 100.881 584.998 65H520V65.3757Z" fill="#E6DDBF"/><path fill-rule="evenodd" clip-rule="evenodd" d="M0 194.911V259.346V259.534V259.909V324.344C35.6925 324.344 64.6929 295.531 64.9959 259.909H64.9983C64.9983 259.815 64.9981 259.722 64.9977 259.628C64.9981 259.534 64.9983 259.44 64.9983 259.346H64.9959C64.6929 223.725 35.6925 194.911 0 194.911Z" fill="#99E3E2"/><path d="M129.621 260.003H64.9985C64.9985 224.123 94.1162 195.005 129.997 195.005V260.003H129.621Z" fill="#5DD597"/><path d="M649.846 0.0822754C613.966 0.0822785 585 29.2 585 65.0806C584.956 100.923 555.852 129.913 519.998 129.913H454.894C454.894 165.793 425.776 194.911 389.896 194.911V259.909H454.894C454.894 224.05 483.978 194.535 519.829 194.5H584.707C584.707 158.619 613.825 129.302 649.706 129.302L649.846 0.0822754Z" fill="#99E3E2"/><circle cx="390" cy="260" r="65" fill="#5DD597"/></svg>
        </div>
    </div>
    <div class="science-challenge__row-wrapper science-challenge__row-wrapper-2">
        <div class="science-challenge__mobile-img-2">
            <svg width="248" height="166" viewBox="0 0 248 166" fill="none"><path d="M124.914 165.445C124.914 142.525 143.372 123.925 166.117 123.925L166.117 82.4056L124.914 82.4055C124.914 105.325 106.457 123.925 83.7117 123.925L83.7117 165.445L124.914 165.445Z" fill="#5DD597"/><path d="M207.003 83.0393C207.003 60.1195 225.319 41.5196 247.889 41.5196L247.889 7.14869e-06L207.003 3.57435e-06C207.003 22.9198 188.687 41.5196 166.117 41.5196L166.117 83.0393L207.003 83.0393Z" fill="#5DD597"/><path d="M166.117 82.6473L166.117 124.242C188.512 124.242 206.686 105.5 206.686 82.4055L166.117 82.4055L166.117 82.6473Z" fill="#5DD597"/><path d="M166.117 82.1709L166.117 41.8366C143.023 41.8366 124.281 60.0105 124.281 82.4054L166.117 82.4054L166.117 82.1709Z" fill="#5DD597"/><path d="M84.0674 165.204L84.0674 123.747C60.3069 123.747 41.0249 142.427 41.0249 165.445L84.0674 165.445L84.0674 165.204Z" fill="#E6DDBF"/><path d="M0.234498 165.445H40.5688C40.5688 142.35 22.3949 123.608 0 123.608V165.445H0.234498Z" fill="#E6DDBF"/><path d="M165.876 82.4055L124.281 82.4055C124.281 105.5 143.023 124.242 166.117 124.242L166.117 82.4055L165.876 82.4055Z" fill="#5DD597"/></svg>
        </div>
        <div class="science-challenge__row">
            <div class="science-challenge__img-col science-challenge__img-col-2">
                <div class="science-challenge__shape-2">
                    <svg width="246" height="369" viewBox="0 0 246 369" fill="none"><path d="M245.642 125H184.256C184.256 89.6705 211.775 61 246 61V125H245.642Z" fill="#E6DDBF"/><path d="M246 0.348684L246 61C211.66 61 183.793 33.2991 183.793 5.46096e-06L246 0L246 0.348684Z" fill="#E6DDBF"/><path d="M246 185.736C211.921 185.736 184 212 184 247C184 280.689 156.689 308 123 308H114.736C85.4645 308 61.7356 331.729 61.7356 361V368.586H0V307.793C34.0795 307.793 62 280.559 62 247C62 213.468 86 186 122.529 186C156.608 186 184.264 158.291 184.264 124.471H246V185.736Z" fill="#5DD597"/></svg>
                </div>
            </div>
            <div class="science-challenge__content-col science-challenge__content-col-2">
                <h3><span>2.</span>{{ title_2 }}</h3>
                <p>{{ info_2 }}</p>
            </div>
        </div>
    </div>
    <div class="science-challenge__row-wrapper science-challenge__row-wrapper-3">
        <div class="science-challenge__mobile-img-3">
            <svg width="285" height="112" viewBox="0 0 285 112" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M213 75C192.437 75 175.75 91.5751 175.75 112H138.5H101.25C101.25 91.5751 84.5629 75 64 75V38H101.25C101.25 58.4249 117.937 75 138.5 75C159.063 75 175.75 58.4249 175.75 38H213V75Z" fill="#99E3E2"/><path fill-rule="evenodd" clip-rule="evenodd" d="M285 0V35.3455V35.4485V35.6546V71C266.33 71 251.16 55.1945 251.001 35.6546H251C251 35.603 251 35.5515 251 35.5C251 35.4485 251 35.397 251 35.3455H251.001C251.16 15.8055 266.33 0 285 0Z" fill="#99E3E2"/><path d="M213.22 38H251C251 17.0231 233.977 0 213 0V38H213.22Z" fill="#5DD597"/><circle cx="37.5" cy="52.5" r="37.5" fill="#5DD597"/></svg>
        </div>
        <div class="science-challenge__row">
            <div class="science-challenge__content-col science-challenge__content-col-3">
                <h3><span>3.</span>{{ title_3 }}</h3>
                <p>{{ info_3 }}</p>
            </div>
        </div>
        <div class="science-challenge__shape-3">
            <svg width="642" height="384" viewBox="0 0 642 384" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M579 320L516.772 320L516.591 320L516.228 320L454 320C454 355.144 481.827 383.699 516.228 383.998L516.228 384C516.319 384 516.409 384 516.5 383.999C516.591 384 516.681 384 516.772 384L516.772 383.998C551.173 383.699 579 355.144 579 320Z" fill="#99E3E2"/><path d="M579.5 195C579.5 230.013 551.028 257.573 516 257.573L516 321L579.454 321C579.454 285.987 607.88 257.573 642.909 257.573L643 195L579.5 195Z" fill="#99E3E2"/><path d="M516 257.5C480.987 257.5 453.427 229.028 453.427 194L390 194L390 257.454C425.013 257.454 453.427 285.88 453.427 320.909L516 321L516 257.5Z" fill="#99E3E2"/><path d="M643 131.5C607.947 131.5 579.5 103.053 579.5 68L516 68L516 131.5C551.053 131.5 579.454 159.947 579.454 195L643 195L643 131.5Z" fill="#5DD597"/><path d="M0.520108 64.5092C36.4179 64.5092 65.3617 93.4078 65.3617 129.018L130.579 129.018L130.579 64.5092C94.6813 64.5092 65.5496 35.6106 65.5496 -2.84253e-06L0.520111 -5.68506e-06L0.520108 64.5092Z" fill="#5DD597"/><path d="M390 128.573L390 64C354.288 64 325.3 93.0447 325.25 128.855C325.25 164.708 296.243 193.803 260.5 193.803C224.757 193.803 195.75 164.708 195.75 128.855L131 128.855L131 193.803C166.744 193.803 195.75 222.147 195.75 258L325.25 258C325.25 222.147 354.256 193.803 390 193.803L390 128.948L390 128.855L390 128.573Z" fill="#5DD597"/><path fill-rule="evenodd" clip-rule="evenodd" d="M130.5 129.375L130.5 194C166.658 194 196 164.881 196 129C196 93.1187 166.658 64 130.5 64C94.3425 64 65 93.1187 65 129L130.5 129L130.5 129.375Z" fill="#E6DDBF"/><path d="M393.474 129H303C303 78.7659 343.766 38 394 38V129H393.474Z" fill="#F9F8F6"/></svg>
        </div>
    </div>
    <div class="science-challenge__row-wrapper science-challenge__row-wrapper-4">
        <div class="science-challenge__mobile-img-4">
            <svg width="341" height="213" viewBox="0 0 341 213" fill="none"><path d="M0.607666 42.4283C24.0915 42.4283 43.149 61.4352 43.149 84.8566H85.6904V42.4283C62.2066 42.4283 43.149 23.4214 43.149 0H0.607666V42.4283Z" fill="#A1E6E7"/><path d="M256.163 85.7151H298.459C298.459 62.2937 279.401 43.2867 255.917 43.2867V85.7151H256.163Z" fill="#99E3E2"/><path d="M298.459 85.7151C298.459 109.136 317.516 128.143 341 128.143V85.7151V85.4698V43.2867C317.516 43.2867 298.459 62.2323 298.459 85.7151Z" fill="#EFA33B"/><path d="M255.917 85.7151V85.4698V43.2867C232.433 43.2867 213.376 62.2937 213.376 85.7151C213.376 109.136 194.318 128.143 170.834 128.143C147.351 128.143 128.293 109.136 128.293 85.7151H85.7517V128.143C109.236 128.143 128.293 147.15 128.293 170.572C128.293 193.993 147.351 213 170.834 213C194.318 213 213.376 193.993 213.376 170.572C213.376 147.15 232.433 128.143 255.917 128.143C279.401 128.143 298.458 109.136 298.458 85.7151H255.917Z" fill="#5DD597"/><path d="M128.293 84.8567C128.293 61.4352 109.236 42.4283 85.7517 42.4283V84.8567V85.1019V127.285C109.236 127.346 128.293 108.339 128.293 84.8567Z" fill="#E6DDBF"/></svg>
        </div>
        <div class="science-challenge__row">
            <div class="science-challenge__img-col science-challenge__img-col-4">
                <div class="science-challenge__shape-4">
                    <svg width="231" height="348" viewBox="0 0 231 348" fill="none"><path d="M57.9925 116.318V57.5C26.1564 57.5 0.320801 84.2817 0.320801 116.657H57.9925V116.318Z" fill="#99E3E2"/><path d="M58 346.665L58 290C26.5347 290 0.999999 314.975 1 347L58 347L58 346.665Z" fill="#E6DDBF"/><path fill-rule="evenodd" clip-rule="evenodd" d="M58 57.5V115.68L57.9925 115.68H57.6591L0.320801 115.68C0.320801 147.516 26.1564 173.352 57.9925 173.352C90.0984 173.352 116.153 199.187 116.153 231.023C116.153 263.129 90.0984 289.676 57.9925 289.676V347.344H116.153C116.153 347.01 116.156 346.677 116.161 346.344H115.664C115.664 314.508 141 289.424 174.313 288.673C205.725 287.964 230.668 261.915 230.668 230.337C230.308 198.81 204.612 173.337 173 173.337C141.482 172.648 115.5 147.238 115.5 115.837C115.5 83.4609 89.8361 57.5 58 57.5Z" fill="#5DD597"/><path d="M57.5 57.5C89.2564 57.5 115 31.7564 115 0H0C0 31.7564 25.7436 57.5 57.5 57.5Z" fill="#EFA33B"/></svg>
                </div>
            </div>
            <div class="science-challenge__content-col science-challenge__content-col-4">
                <h3><span>4.</span>{{ title_4 }}</h3>
                <p>{{ info_4 }}</p>
            </div>
        </div>
    </div>
</section>