<section class="cta">
    <div class="container">
        <div class="cta__title">
            <h2>{{ title }}</h2>
        </div>
        {% if content %}
            <div class="cta__content">
                <p>{{ content }}</p>
            </div>
        {% endif %}
        <div class="cta__btn-row">
            <div class="cta__btn-col">
                <a href="{{ link1.url }}">
                    <div class="cta__btn">{{ link1.title }}<span><svg width="28" height="30" viewBox="0 0 28 30" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M14 28.125C17.2489 28.125 20.3647 26.7422 22.6621 24.2808C24.9594 21.8194 26.25 18.481 26.25 15C26.25 11.519 24.9594 8.18064 22.6621 5.71922C20.3647 3.25781 17.2489 1.875 14 1.875C10.7511 1.875 7.63526 3.25781 5.33794 5.71922C3.04062 8.18064 1.75 11.519 1.75 15C1.75 18.481 3.04062 21.8194 5.33794 24.2808C7.63526 26.7422 10.7511 28.125 14 28.125ZM14 1.29539e-06C17.713 1.13309e-06 21.274 1.58035 23.8995 4.3934C26.525 7.20644 28 11.0218 28 15C28 18.9782 26.525 22.7936 23.8995 25.6066C21.274 28.4196 17.713 30 14 30C10.287 30 6.72602 28.4196 4.10051 25.6066C1.475 22.7936 -4.81776e-07 18.9782 -6.55671e-07 15C-8.29566e-07 11.0218 1.475 7.20644 4.1005 4.3934C6.72601 1.58035 10.287 1.45769e-06 14 1.29539e-06ZM7.875 14.0625C7.64294 14.0625 7.42038 14.1613 7.25628 14.3371C7.09219 14.5129 7 14.7514 7 15C7 15.2486 7.09219 15.4871 7.25628 15.6629C7.42038 15.8387 7.64294 15.9375 7.875 15.9375L18.0128 15.9375L14.2555 19.9612C14.0912 20.1373 13.9989 20.376 13.9989 20.625C13.9989 20.874 14.0912 21.1127 14.2555 21.2888C14.4198 21.4648 14.6426 21.5637 14.875 21.5637C15.1074 21.5637 15.3302 21.4648 15.4945 21.2887L20.7445 15.6637C20.826 15.5767 20.8906 15.4732 20.9347 15.3593C20.9789 15.2454 21.0016 15.1233 21.0016 15C21.0016 14.8767 20.9789 14.7546 20.9347 14.6407C20.8906 14.5268 20.826 14.4233 20.7445 14.3363L15.4945 8.71125C15.3302 8.53521 15.1074 8.43632 14.875 8.43632C14.6426 8.43632 14.4198 8.53521 14.2555 8.71125C14.0912 8.88729 13.9989 9.12605 13.9989 9.375C13.9989 9.62396 14.0912 9.86271 14.2555 10.0388L18.0128 14.0625L7.875 14.0625Z" fill="#40928B"/></svg></span></div>
                </a>
            </div>
            <div class="cta__btn-col">
                <a href="{{ link2.url }}">
                    <div class="cta__btn">{{ link2.title }}<span><svg width="28" height="30" viewBox="0 0 28 30" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M14 28.125C17.2489 28.125 20.3647 26.7422 22.6621 24.2808C24.9594 21.8194 26.25 18.481 26.25 15C26.25 11.519 24.9594 8.18064 22.6621 5.71922C20.3647 3.25781 17.2489 1.875 14 1.875C10.7511 1.875 7.63526 3.25781 5.33794 5.71922C3.04062 8.18064 1.75 11.519 1.75 15C1.75 18.481 3.04062 21.8194 5.33794 24.2808C7.63526 26.7422 10.7511 28.125 14 28.125ZM14 1.29539e-06C17.713 1.13309e-06 21.274 1.58035 23.8995 4.3934C26.525 7.20644 28 11.0218 28 15C28 18.9782 26.525 22.7936 23.8995 25.6066C21.274 28.4196 17.713 30 14 30C10.287 30 6.72602 28.4196 4.10051 25.6066C1.475 22.7936 -4.81776e-07 18.9782 -6.55671e-07 15C-8.29566e-07 11.0218 1.475 7.20644 4.1005 4.3934C6.72601 1.58035 10.287 1.45769e-06 14 1.29539e-06ZM7.875 14.0625C7.64294 14.0625 7.42038 14.1613 7.25628 14.3371C7.09219 14.5129 7 14.7514 7 15C7 15.2486 7.09219 15.4871 7.25628 15.6629C7.42038 15.8387 7.64294 15.9375 7.875 15.9375L18.0128 15.9375L14.2555 19.9612C14.0912 20.1373 13.9989 20.376 13.9989 20.625C13.9989 20.874 14.0912 21.1127 14.2555 21.2888C14.4198 21.4648 14.6426 21.5637 14.875 21.5637C15.1074 21.5637 15.3302 21.4648 15.4945 21.2887L20.7445 15.6637C20.826 15.5767 20.8906 15.4732 20.9347 15.3593C20.9789 15.2454 21.0016 15.1233 21.0016 15C21.0016 14.8767 20.9789 14.7546 20.9347 14.6407C20.8906 14.5268 20.826 14.4233 20.7445 14.3363L15.4945 8.71125C15.3302 8.53521 15.1074 8.43632 14.875 8.43632C14.6426 8.43632 14.4198 8.53521 14.2555 8.71125C14.0912 8.88729 13.9989 9.12605 13.9989 9.375C13.9989 9.62396 14.0912 9.86271 14.2555 10.0388L18.0128 14.0625L7.875 14.0625Z" fill="#40928B"/></svg></span></div>
                </a>
            </div>
        </div>
    </div>
</section>