<!DOCTYPE html>
<html class="html {{ body_class }}" lang="{{ site.language }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} {{ __('Feed', 'flynt') }}" href="{{ site.rss2 | e('esc_url') }}">
    {{ function('wp_head') }}
  </head>
  <body>
    {% block header %}
      {{ renderComponent('SiteHeader') }}
    {% endblock %}

    {% block content %}
      No <code>{{ '{% block content %}' }}</code> defined for this template.
    {% endblock %}

    {% block footer %}
      {{ renderComponent('SiteFooter') }}
    {% endblock %}

    <div id="js-back-to-top" class="back-to-top back-to-top--hidden">
      <span>
        <svg width="20" height="12" viewBox="0 0 20 12" fill="none"><path d="M16.5 11.2L9.99999 4.70005L3.49999 11.2L0.899994 9.90005L9.99999 0.800049L19.1 9.90005L16.5 11.2Z" fill="#40928B"/></svg>
      </span>
      <div>
        BACK TO TOP
      </div>
    </div>

    {{ function('wp_footer') }}
  </body>
</html>
