<section class="career-hero lazyload" data-bgset="{{ image.src|resizeDynamic(image.width) }}" data-sizes="auto">
    <div class="career-hero__mask"></div>
    <div class="career-hero__shape-1">
        <svg width="342" height="576" viewBox="0 0 342 576" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M-0.636353 84.783L-0.636353 -6.86646e-05C47.1405 -6.86646e-05 85.9124 38.2016 85.9124 85.2759L-0.636353 85.2759L-0.636353 84.783Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M-1.99999 318.86L-2 403.643L-2 404.136L-2.00001 490.049C45.4256 490.049 83.9123 528.535 83.9123 575.961H169.5H169.825H255.737C255.737 528.535 294.224 490.049 341.649 490.049V404.136L255.737 404.136C255.737 451.509 217.012 489.963 169.658 490.048C122.308 489.959 83.2773 451.506 83.2773 404.136L83.2759 404.136C83.276 357.062 45.0743 318.86 -1.99999 318.86Z" fill="white"/></svg>
    </div>
    <div class="career-hero__shape-2--mobile">
        <svg width="36" height="36" viewBox="0 0 36 36" fill="none"><path d="M0.204504 35.3792L35.3792 35.3792C35.3792 15.8491 19.5301 7.86229e-06 4.21893e-07 7.62939e-06L0 35.3792L0.204504 35.3792Z" fill="white"/></svg>
    </div>
    <div class="career-hero__shape-3--mobile">
        <svg width="229" height="172" viewBox="0 0 229 172" fill="none"><path d="M171.771 57.3057C171.771 88.9398 146.133 114.611 114.541 114.611C82.9494 114.611 57.312 88.9398 57.312 57.3057C57.2293 25.6716 31.5919 0 0 0V57.3057V114.611C31.5919 114.611 57.2293 140.283 57.2293 171.917H114.459H171.688C171.688 140.283 197.325 114.611 228.917 114.611V57.3057H171.771Z" fill="white"/></svg>
    </div>
    <div class="container">
        <div class="career-hero__info">
            <h1>{{ title_1 }}</h1>
            {{ content_1 }}
            <div id="js-career-hero__btn" class="career-hero__btn">
                <span><svg width="40" height="40" viewBox="0 0 40 40" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M2.5 20C2.5 24.6413 4.34374 29.0925 7.62563 32.3744C10.9075 35.6563 15.3587 37.5 20 37.5C24.6413 37.5 29.0925 35.6563 32.3744 32.3744C35.6563 29.0925 37.5 24.6413 37.5 20C37.5 15.3587 35.6563 10.9075 32.3744 7.62563C29.0925 4.34374 24.6413 2.5 20 2.5C15.3587 2.5 10.9075 4.34374 7.62563 7.62563C4.34374 10.9075 2.5 15.3587 2.5 20ZM40 20C40 25.3043 37.8929 30.3914 34.1421 34.1421C30.3914 37.8929 25.3043 40 20 40C14.6957 40 9.60859 37.8929 5.85786 34.1421C2.10714 30.3914 0 25.3043 0 20C0 14.6957 2.10714 9.60859 5.85786 5.85786C9.60859 2.10714 14.6957 0 20 0C25.3043 0 30.3914 2.10714 34.1421 5.85786C37.8929 9.60859 40 14.6957 40 20ZM21.25 11.25C21.25 10.9185 21.1183 10.6005 20.8839 10.3661C20.6495 10.1317 20.3315 10 20 10C19.6685 10 19.3505 10.1317 19.1161 10.3661C18.8817 10.6005 18.75 10.9185 18.75 11.25V25.7325L13.385 20.365C13.1503 20.1303 12.8319 19.9984 12.5 19.9984C12.1681 19.9984 11.8497 20.1303 11.615 20.365C11.3803 20.5997 11.2484 20.9181 11.2484 21.25C11.2484 21.5819 11.3803 21.9003 11.615 22.135L19.115 29.635C19.2311 29.7514 19.3691 29.8438 19.5209 29.9068C19.6728 29.9698 19.8356 30.0022 20 30.0022C20.1644 30.0022 20.3272 29.9698 20.4791 29.9068C20.6309 29.8438 20.7689 29.7514 20.885 29.635L28.385 22.135C28.6197 21.9003 28.7516 21.5819 28.7516 21.25C28.7516 20.9181 28.6197 20.5997 28.385 20.365C28.1503 20.1303 27.8319 19.9984 27.5 19.9984C27.1681 19.9984 26.8497 20.1303 26.615 20.365L21.25 25.7325V11.25Z" fill="white"/></svg></span>
            </div>
        </div>
    </div>
</section>
<section id="js-career-content" class="career-content">
    <div class="career-content__shape">
        <svg width="333" height="399" viewBox="0 0 333 399" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M266.412 133.332C266.412 96.5306 236.799 66.6658 199.998 66.6658V0H266.663C266.663 36.8011 296.528 66.6658 333.329 66.6658V133.332H266.412Z" fill="#E6DDBF"/><path d="M66.2805 399H5.34058e-05C5.34058e-05 362.748 29.8648 333.077 66.6659 333.077V399H66.2805Z" fill="#E6DDBF"/><path fill-rule="evenodd" clip-rule="evenodd" d="M266.622 262.066C266.622 218.643 298.2 199.742 333.329 199.742V133.332H266.408C266.408 169.992 236.429 199.742 199.487 199.742C163.391 199.742 134.098 229.95 134.098 267.174C134.098 303.552 103.608 333.074 66.6659 333.074V398.973H133.587C133.587 362.595 163.566 333.074 200.508 333.074C237.262 332.534 266.325 305.488 266.622 267.685C266.622 265.538 266.622 264.345 266.622 262.066Z" fill="#5DD597"/></svg>
    </div>
    <div class="career-content__inner">
        <h2>{{ title_2 }}</h2>
        {{ content_2 }}
    </div>
</section>